{% extends ':App:MediBundle:Resources:views:Default:ciudad.html.twig' %}
{% block listarLocalidad %}
    <table class="listar">
        <tr>
            <td>Identificador de</td>
            <td>Nombre de</td>
            
        </tr>
        {% for listar in listar %}
        <tr>    
            <td>{{ listar.id }}</td>
            <td>{{ listar.nombre }}</td>
        <tr/>    
        {% endfor %}
    </table>    

{% endblock %}
