<div>
                <div><h4>Mis proyectos</h4></div>
                <table>
                    {% for proyecto in proyecto %}
                    <tr>
                        <td>{{ proyecto.nombre }}</td>
                        <td style="width: 80%">
                            <div class="progress">
                                {% if proyecto.avance <= 50 %}
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ proyecto.avance }}%" alt="hello">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                                {% endif %}
                                {% if proyecto.avance >= 51 and proyecto.avance <= 75 %}
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ proyecto.avance }}%" alt="hello">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                                {% endif %}
                                {% if proyecto.avance >= 76 %}
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ proyecto.avance }}%" alt="hello">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                                {% endif %}
                                
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>