
input.DatePicker{
	display: block;
	width: 13em !important;
	padding: 3px 3px 3px 24px;
	border: 1px solid #ccc;
        /*background: #fff url(../img/date.gif) no-repeat top left; */
        border-style: solid;
        box-shadow: none;
	font-size: 13px;

	cursor: pointer;
        width: 200px;
}

input.DatePicker1{
    width: 13em !important;
}
input:focus.DatePicker,
input:focus.DatePicker1{
	background: #fff url(../img/datefocus.gif) no-repeat top left;
}
.dp_container{
	position: relative;
	padding: 0;
	z-index: 500;
}
.dp_cal{
	background-color: #fff;
	border: 1px solid grey;
	position: absolute;
	width: 177px;
	top: 24px;
	left: 0;
	margin: 0px 0px 3px 0px;
}
.dp_cal table{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
.dp_cal select{
	margin: 2px 3px;
	font-size: 11px;
}
.dp_cal select option{
	padding: 1px 3px;
}
.dp_cal th,
.dp_cal td{
	/*width: 14.2857%;*/
        width: 10%;
        height: 10%;
	text-align: center;
	font-size: 11px;
	padding: 2px 0;
}
.dp_cal th{
	border: solid grey;
	border-width: 1px 0;
	color: #797774;
	background: #fff; /* Old browsers */
	font-weight: bold;
}
.dp_cal td{
	cursor: pointer;
}
.dp_cal thead th{
	background: #E4E7E9;
}
.dp_cal td.dp_roll{
	color: #000;
	background: #E4E7E9;
}
/* must have this for the IE6 select box hiding */
.dp_hide{
	visibility: hidden;
}
.dp_empty{
	background: #eee;
}
.dp_today{
	background: #daf2e6;
}
.dp_selected{
	color: #fff;
	background: #90D0FD;
}

